<div class="additional--container">
  
  <div class="additional--list">
    <div class="additional--header">
      <div *ngFor="let key of keyList">
        <span>{{key}}</span>
      </div>
    </div>
    <div class="additional--row" [ngClass]="{'active': selectedDetail?.id === transaction.id}" *ngFor="let transaction of transactions$ | async">
      <div>
        <span>{{transaction.id}}</span>
      </div>
      <div>
        <span>{{transaction.get('date') | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div>
        <span>{{transaction.get('comments')}}</span>
      </div>
      <div>
        <button mat-stroked-button (click)="viewDetails(transaction)" attr.aria-label="{{'view item' + transaction.id}}">View</button>
      </div>
    </div>
  </div>

  <app-additional-details [selectedDetail]="selectedDetail"></app-additional-details>

</div>