<div class="transaction--details--container">

  <form [formGroup]="transactionDetailsEditForm" (ngSubmit)="updateTransaction()">
    
    <table mat-table [dataSource]="transactionItems">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let transaction">
          <span>{{transaction.id}}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let transaction">
          <span>{{transaction.date | date: 'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Comments</th>
        <td mat-cell *matCellDef="let transaction">
          <mat-form-field>
            <mat-label>Comments</mat-label>
            <input 
              matInput 
              placeholder="Enter Comments here" 
              type="text" 
              formControlName="comments" 
              [(ngModel)]="transaction.comments" 
              autofocus 
              tabindex="0"
              aria-label="Comments edit input field"
            >
            <mat-error *ngIf="transactionDetailsEditForm.controls['comments'].hasError('pattern')">
              Alphabets are allowed only
            </mat-error>
          </mat-form-field>
          <button mat-stroked-button type="submit" aria-label="Update">update</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>

  </form>

  <button mat-raised-button class="back-btn" (click)="goBack()" aria-label="Go back">Back</button>

</div>