/**
  variables for theme
*/
$primary    : #8B1D41;

$accent     : #FFCC42;

$warn       : #C41F3E;
$error      : #C41F3E;
$red        : #C41F3E;

$font-color : #383B3E;
$black      : #383B3E;

$gray-dark  : #e2e2e2;

$disable    : #DCDCDC;
$gray-light : #DCDCDC;

$white      : #FFFFFF;