/**
  variables for theme
*/
$primary    : #8B1D41;

$accent     : #F9C642;

$warn       : #E31C3D;
$error      : #E31C3D;
$red        : #E31C3D;

$font-color : #212121;
$black      : #212121;

$gray-dark  : #e2e2e2;

$disable    : #DCDCDC;
$gray-light : #DCDCDC;

$white      : #FFFFFF;

$blue       : #02BFE7;