@import './assets/variables';
@import './assets/material_theme';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $font-color;
}

div.content {
  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0px;
    min-height: calc(100vh - 260px); // calc for navigation bar height
  }
  @media screen and (max-width: 600px) {
    &--container {
      justify-content: flex-start;
    }
  }
}

button:focus {  
  outline: 2px solid $blue;
}

.mat-cell {
  color: $font-color;
}
