.transaction {
  &--list {
    &--container {
      width: 100%;
      max-width: 600px;
      table {
        width: 100%;
        th, td {
          text-align: center;
        }
        tr {
          &:hover {
            background-color: #e2e2e2;
          }
        }
      }
    }
  }
}